body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  padding:0.3rem;
  height:100vh;
  width:100vw;
  margin:0;
  box-sizing: border-box;
  display:flex;
  background-color:black;
  overflow:hidden;

}
#gameDiv {
  flex: 7;
  min-width:28rem;
  background-color:black;
}
#extraDiv {
  flex: 3;
  min-width:12rem;
  min-height:20rem;
}
div {
  border: 1px solid black;
  margin: 0.3rem;
  background-color:white;
}
#canvas {
  aspect-ratio:16/9;
  max-height:100%;
  max-width:100%;
  border: 2px solid white;
  cursor:none;
  z-index:2;
}
#gameOverDiv {
  position:absolute;
  left:0;
  top:0;
  width:100vw;
  height:99vh;
  background-color:rgba(53, 53, 53, 0.637);
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  overflow:hidden;
  backdrop-filter:blur(10px);
}
#gameOverDiv[hidden] {
  display:none;
}
#gameOverDiv h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-size:10rem;
  color:white;
  background-color:black;
  border:solid black 1rem;
  border-radius:1rem;
  max-width:80%;
  max-height:50%;
  text-shadow: 0px 0px 30px red;
  padding-left:20px;
  padding-right:20px;
}
#gameOverDiv button {
  height:5rem;
  width:15rem;
  border:solid rgb(8, 97, 13) 4px;
  border-radius:1rem;
  color:black;
  transition:color 100ms linear, background-color 100ms linear;
}
#gameOverDiv button:hover {
  background-color:rgb(5, 58, 8);
  cursor:pointer;
  color:white;
}
#gameOverDiv p {
  font-size:2rem;
  background-image:linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet,red);
  background-size: 200%,200%;
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
  animation-name:gameOverTextGradient;
  animation-duration:4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  text-shadow:0px 0px 7px rgb(0, 0, 0);
}
@keyframes gameOverTextGradient {
  from {background-position:0% 0%;}
  to {background-position:200% 0%;}
}